@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

a{
  color:black !important
}

.brand-logo,h2{
  font-family: 'Indie Flower', cursive;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid rgba(255, 158, 31, 0.87) !important;
  box-shadow: 0 1px 0 0 rgba(255, 158, 31, 0.87) !important;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid rgba(255, 158, 31, 0.87) !important;
  box-shadow: 0 1px 0 0 rgba(255, 158, 31, 0.87) !important;
}

.login-box{
  margin-top:30px;
}

.auth-card{
  padding:20px;
  text-align:center;
  max-width: 400px;
  margin:10px auto;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item{
  width:30%;
}

.home-card{
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
}

#toast-container{
  /* top:30px !important; */
  /* right:20px !important; */
  left:auto !important;
}

.material-icons:hover{
  cursor: pointer;
}

.brand-logo{
  left: 21%;
}